@import url('https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&display=swap');
*{font-family: "Cardo", serif;
    font-weight: 400;
    font-style: normal; padding: 5px;}

    p{color: #323471; font-size: 3vh;
    text-align:center;}
    
.result{font-size: 5vh;text-align: center;}
.input{display: flex; flex-direction:column ;justify-content: center;}

body{  background-color:#ffffff;
    width: 375px;
    margin: 0  auto;
}

.SorS{border-radius: 5px; border-color: #0257c9 ; font-size: 4vh;background-color: rgb(255, 255, 255); color:#323471  ;}
.RorS {border-radius: 5px;  border-color: #0257c9 ; font-size: 4vh;background-color: rgb(255, 255, 255); color:#323471  ;}
.check {border-radius:10px; font-size:4vh; height:70px; width:170px; background-color: #0257c9; color: black; margin: 0; position: relative; top: 130%;left: 26%; }
h1{color:hsl(234, 51%, 67%) ;}
h2{color:white;}
    .header{color:hsl(234, 51%, 67%) ; display: flex; flex-direction:column ;justify-content: center;  text-align: center; border: 2px solid rgb(0, 0, 0); position: sticky;top: 0;padding: 20px 16px;background:#323471;
        border-radius:10px; } 
.answer{ width:80%; display:flex; flex-direction: column; justify-content: center; position:relative; top: 190%; left: 10%;}



